body
{
	background-color: rgb(80, 80, 80);
}

.header
{
	position: relative;
	width: 90%;
	height: 11%;
	min-height: 138px;
	margin: 1.5%;
	border-radius: 12px;
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 1);
	left: 3.5%;
}

.logo-img
{
	position: absolute;
	width: 80%;
	height: auto;
	max-width: 484px;
	left: 2%;
	top: 5%;
}

.loupe-img
{
	position: absolute;
	right: 3%;
	top: 8%;
}

.close-img
{
	position: absolute;
	width: 1.5%;
	height: auto;
	bottom: 8%;
	right: 1%;
}

.reload-img
{
	position: absolute;
	width: 1.5%;
	top: 8%;
	right: 1%;
}

.mid
{
	position: relative;
	width: 90%;
	height: fit-content;
	left: 5%;
}

.mid-left
{
	position: absolute;
	display: inline-block;
	width: 10%;
	height: fit-content;
	margin: 1%;
	top: 0;
	left: 2%;
	border-radius: 12px;
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 1);
}

.icon
{
	position: relative;
	left: 20%;
	display: list-item;
	height: auto;
	width: 50%;
	padding: 5%;
}

#icon-look
{
	outline: 5px solid red;
	outline-offset: -5px;
	width: 50%;
}

.brick
{
	background-image: url(resources/brick.jpg);
	position: relative;
	left: 13%;
	height: 31%;
	width: 65%;
	padding: 5%;
}

.icon-empty
{
	position: relative;
	left: 20%;
	display: list-item;
	height: auto;
	width: 50%;
	padding: 5%;
	opacity: 0;
}

.cluster
{
	position: absolute;
	display: inline-block;
	width: 67.3%;
	height: fit-content;
	margin: 1%;
	left: 15.3%;
	border-radius: 12px;
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 1);
}

.ikea-link
{
	position: absolute;
	width: 15%;
	height: 40%;
	bottom: 4%;
	left: 32%;
	opacity: 0;
}

.apple-link
{
	position: absolute;
	width: 20%;
	height: 30%;
	bottom: 15%;
	right: 2.5%;
	opacity: 0;
}

.cluster-img
{
	width: 98%;
	height: auto;
	margin: 1%;
}

.mid-right
{
	position: absolute;
	display: inline-block;
	width: 10%;
	height: fit-content;
	margin: 1%;
	top: 0%;
	right: 2%;
	border-radius: 12px;
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 1);
}

.pop-up
{
	position: absolute;
	width: 525px;
	height: 172px;
	bottom: 10%;
	left: 5%;
	border-radius: 12px;
	background-color: rgb(154, 252, 135);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 1);
}

form
{
	position: absolute;
	left: 2%;
	top: 50%;
}

p
{
	font-family: Arial;
	font-size: 17px;
	position: absolute;
	left: 2%;
	margin-top: 1%;
}

.big-word
{
	font-family: 'Times New Roman';
	font-size: 32px;
	font-weight: normal;
}

.shadow-word
{
	font-weight: normal;
	text-shadow: 4px 4px 3.5px rgba(255, 0, 0, 0.9); 
}

input
{
	border-width: 3px;
}

/* .cluster-img
{
	position: absolute;
	display: inline-block;
	width: 66%;
	height: auto;
	margin: 1%;
	left: 15.3%;
	border: solid;
	border-radius: 12px;
	border-width: 10px;
	border-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 1);
} */