body
{
	background-color: #f5f5f5;
}

img
{
	border-radius: 50%;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

img:hover
{
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

table
{
	width: auto;
	height: auto;
}

tr
{
	width: auto;
	height: auto;
}

td
{
	width: 5vw;
	height: 5vh;
	min-width: 30px;
	min-height: 30px;
	position: relative;
	background-color: rgb(158, 109, 158);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.td-empty
{
	opacity: 0;
}

p
{
	font-family: 'Roboto', sans-serif;
	font-size: 0.6vw;
	color: #f5f5f5;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	cursor: default;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

p:hover
{
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.symbol
{
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
}

.number
{
	position: absolute;
	width: fit-content;
	margin: 0;
	left: 8%;
	bottom: 5%;
}

.atomic-mass
{
	position: absolute;
	width: fit-content;
	margin: 0;
	right: 8%;
	top: 5%;
}

.salmon
{
	background-color: rgb(231, 117, 104);
}

.cyan
{
	background-color: rgb(79, 167, 131)
}

.orange
{
	background-color: rgb(235, 160, 107);
}
.blue
{
	background-color: rgb(70, 161, 197);
}